<section id="contact" class="gray-section contact">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Contact Us</h1>
                <p>Please give us your comments and suggestions.</p>
            </div>
        </div>
        <div class="row m-b-lg">
            <div class="col-lg-3 col-lg-offset-3">
                <address>
                    <strong><span class="navy">Bioversity International (Costa Rica)</span></strong><br/>
                    CATIE, Sede Central<br/>
                    Cartago, Turrialba, Costa Rica<br/>
                    <abbr title="Phone">P:</abbr> (506)2558-2000
                </address>
            </div>
            <div class="col-lg-4">
                <p class="text-color">
{#                    Consectetur adipisicing elit. Aut eaque, totam corporis laboriosam veritatis quis ad perspiciatis, totam corporis laboriosam veritatis, consectetur adipisicing elit quos non quis ad perspiciatis, totam corporis ea,#}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="mailto:j.steinke@cgiar.org" class="btn btn-primary">Send us mail</a>
                <p class="m-t-sm">
                    Or follow us on social platform
                </p>
                <ul class="list-inline social-icon">
                    <li><a href="https://twitter.com/bioversityint"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="https://www.facebook.com/bioversityinternational"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="https://www.linkedin.com/company/bioversity-international"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                <p><strong>&copy; 2018 Biovertity International (Costa Rica office)</strong><br/> This software is open-source licensed under AGPL V3.0. It comes without warranty of any kind.</p>
            </div>
        </div>
    </div>
</section>