{% extends 'landing/page.jinja2' %}

{% block title %}{{ _('Page not found') }}{% endblock title %}

{% block bodyattributes %}class="gray-bg"{% endblock bodyattributes %}

{% block bodycontent %}
    {% block error_message %}
        <div class="middle-box text-center animated fadeInDown">
            <h1>404</h1>
            <h3 class="font-bold">{{ _('Page Not Found') }}</h3>

            <div class="error-desc">
                {{ _('Sorry, but the page you are looking for has not been found. Try checking the URL for errors.') }}
            </div>
        </div>
    {% endblock error_message %}
{% endblock bodycontent %}
