{% extends 'dashboard/index.jinja2' %}

{% block css %}
    {% cssresource request,'dashboard','select2' %}
{% endblock css %}

{% block breadcrumbs %}
    <div class="col-sm-12">
        <h2>{{ _("Ushauri - Maintenance") }}</h2>
        <ol class="breadcrumb">
            {% block breadcrumbitems %}
                <li>
                    <a href="{{ request.route_url('dashboard') }}">{{ _("Main Dashboard") }}</a>
                </li>
                <li>
                    {{ _('Maintenance') }}
                </li>
                <li>
                    <a href="{{ request.route_url('audios') }}">{{ _("Audios") }}</a>
                </li>
                <li class="active">
                    <a href="{{ request.route_url('addaudio') }}">{{ _("Add audio from file") }}</a>
                </li>
            {% endblock breadcrumbitems %}
        </ol>
    </div>
{% endblock breadcrumbs %}

{% block maincontent %}
    <div class="row">
        <div class="col-md-12">
            <h3 class="font-bold text-center">{{ _('Add audio') }}</h3>
            <hr>
            {% snippet 'dashboard/snippets/error.jinja2', error_summary=error_summary %}
            <form class="form-horizontal" role="form" method="post" action="{{ request.path }}" enctype="multipart/form-data">
                <input type="hidden" name="csrf_token" value="{{ request.session.get_csrf_token() }}">
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ _('Audio:') }}</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="audio" name="audio" type="file" value="" accept="application/audio/*" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ _('Description:') }}</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" value="{{ data.audio_desc }}" id="audio_desc" name="audio_desc" placeholder=" ">
                    </div>
                </div>
                <button class="btn btn-primary btn-block" type="submit" name="add"> {{ _('Add') }}</button>
            </form>
        </div>
    </div>
{% endblock maincontent %}

{% block mainscripts %}
    {% jsresource request,'dashboard','select2' %}
    <script>
            $("#district").select2();
    </script>
{% endblock mainscripts %}