{% extends 'dashboard/index.jinja2' %}

{% block css %}
    {% cssresource request,'dashboard','select2' %}
{% endblock css %}

{% block breadcrumbs %}
    <div class="col-sm-12">
        <h2>{{ _("Ushauri - Maintenance") }}</h2>
        <ol class="breadcrumb">
            {% block breadcrumbitems %}
                <li>
                    <a href="{{ request.route_url('dashboard') }}">{{ _("Main Dashboard") }}</a>
                </li>
                <li class="active">
                    <a href="{{ request.route_url('replytomember',group=groupid,question=questionid) }}">{{ _("Reply to member") }}</a>
                </li>
            {% endblock breadcrumbitems %}
        </ol>
    </div>
{% endblock breadcrumbs %}

{% block maincontent %}
    <div class="row">
        <div class="col-md-12">
            {% if replied == False %}
                <h3 class="font-bold text-center">{{ _('Reply') }} {% if data.question_status == -1 %}<span style="color: red">{{ _('again') }} </span>{% endif %}{{ _('to question by') }} {{ data.member.member_name }} {{ _('on') }} {{ data.question_dtime }}</h3>
                <button class="btn btn-default btn-block" style="background-color: #1c84c6; color: white" type="button" onclick="playAudio('{{ request.route_url('getaudio',audioid=data.question_audiofile) }}')" title="{{ _('Listen to question') }}">{{ _('Listen') }}</button>
                <hr>
                <button type="button" onclick="location.href='{{ request.route_url('recordandreplytomember',group=groupid,question=questionid) }}';" class="btn btn-warning btn-block">{{ _('Record and reply') }}</button>
                <hr>
                <h3 class="font-bold text-center">{{ _('or select and audio to reply') }}</h3>
                {% snippet 'dashboard/snippets/error.jinja2', error_summary=error_summary %}
                <form class="form-horizontal" role="form" method="post" action="{{ request.path }}">
                    <input type="hidden" name="csrf_token" value="{{ request.session.get_csrf_token() }}">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ _('Audio:') }}</label>
                        <div class="col-sm-10">
                            <div>
                            <select class="form-control m-b" id="audio_id" name="audio_id">
                                {% for audio in audios %}
                                    <option value="{{ audio.audio_id }}">{{ audio.audio_desc }}</option>
                                {% endfor %}
                            </select>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-default btn-block" style="background-color: #1c84c6; color: white" type="button" onclick="playCurrentAudio()" title="{{ _('Listen') }}">{{ _('Listen selected audio') }}</button>
                    <button class="btn btn-default btn-block" type="button" onclick="location.href='{{ request.route_url('audios') }}';" title="{{ _('Go to maintenance') }}">{{ _('Go to the audios maintenance page') }}</button>
                    <hr>
                    <button class="btn btn-primary btn-block" type="submit" name="edit"> {{ _('Reply selected audio') }}</button>
                </form>
            {% else %}
                <h2 style="color: green">{{ _('Done. Please close this window') }}</h2>
            {% endif %}
        </div>
    </div>
{% endblock maincontent %}

{% block mainscripts %}
    {% jsresource request,'dashboard','select2' %}
    <script>
            $("#audio_id").select2();
    </script>
    <script>
        audio = new Audio();
        currUrl = "";
        function playAudio(url)
        {
            if (currUrl != url)
            {
                currUrl = url;
                audio.pause();
                audio.src = url;
                audio.play();
            }
            else {
                audio.pause();
                currUrl = ''
            }
        }
        function playCurrentAudio()
        {
            audioID = $("#audio_id").val();
            url = "{{ request.route_url('home') }}" + "audios/" + audioID + "/play";
            if (currUrl != url)
            {
                currUrl = url;
                audio.pause();
                audio.src = url;
                audio.play();
            }
            else {
                audio.pause();
                currUrl = ''
            }
        }
    </script>
{% endblock mainscripts %}