{% extends 'dashboard/index.jinja2' %}

{% block breadcrumbs %}
    <div class="col-sm-12">
        <h2>{{ _("Ushauri - Maintenance") }}</h2>
        <ol class="breadcrumb">
            {% block breadcrumbitems %}
                <li>
                    <a href="{{ request.route_url('dashboard') }}">{{ _("Main Dashboard") }}</a>
                </li>
                <li>
                    {{ _('Maintenance') }}
                </li>
                <li>
                    <a href="{{ request.route_url('counties') }}">{{ _("Regions") }}</a>
                </li>
                <li class="active">
                    <a href="{{ request.route_url('addcounty') }}">{{ _("Add") }}</a>
                </li>
            {% endblock breadcrumbitems %}
        </ol>
    </div>
{% endblock breadcrumbs %}

{% block maincontent %}
    <div class="row">
        <div class="col-md-12">
            <h3 class="font-bold text-center">{{ _('Add new region') }}</h3>
            <hr>
            {% snippet 'dashboard/snippets/error.jinja2', error_summary=error_summary %}
            <form class="form-horizontal" role="form" method="post" action="{{ request.path }}">
                <input type="hidden" name="csrf_token" value="{{ request.session.get_csrf_token() }}">
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ _('Name:') }}</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" value="{{ data.county_name }}" id="county_name" name="county_name" placeholder=" ">
                    </div>
                </div>
                <button class="btn btn-primary btn-block" type="submit" name="add"> {{ _('Add') }}</button>
            </form>
        </div>
    </div>
{% endblock maincontent %}
